/*
Theme Name: Skillcrush Starter Theme -- FINAL MASTER, including Bonus Challenge notes
Author: The Skillcrush Team
Author URI: http://skillcrush.com
Description: This theme is for use in Skillcrush 103.
Version: 2.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: skillcrushstarter
*/

/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/** Clearfix **/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
	table-layout: fixed;
}

.clearfix:after {
	clear: both;
}
/** end CSS reset **/

/** theme styles start here! **/

/* FONTS */
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/opensans-regular.eot');
	src: url('fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/opensans-regular.woff') format('woff'),
		url('fonts/opensans-regular.ttf') format('truetype');
	font-weight: normal;
		font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/opensans-bold.eot');
	src: url('fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/opensans-bold.woff') format('woff'),
		url('fonts/opensans-bold.ttf') format('truetype');
	font-weight: bold;
		font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('fonts/opensans-semibold.eot');
	src: url('fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
		url('fonts/opensans-semibold.woff') format('woff'),
		url('fonts/opensans-semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-regular.eot');
	src: url('fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/montserrat-regular.woff') format('woff'),
		url('fonts/montserrat-regular.ttf') format('truetype');
	font-weight: normal;
		font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('fonts/montserrat-bold.eot');
	src: url('fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/montserrat-bold.woff') format('woff'),
		url('fonts/montserrat-bold.ttf') format('truetype');
	font-weight: bold;
		font-weight: 700;
	font-style: normal;
}
/* End FONTS */

/* MAIN STYLES */
header,
footer,
section,
aside,
time,
article {
	display: block;
}
a {
	text-decoration: none;
}
b,
strong {
	font-weight: bold;
	font-weight: 700;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
p {
	font-size: 16px;
	font-size: 1em;
	line-height: 1.75;
	font-family: 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.01em;
	margin: 1em auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2em 0 .5em;
	font: 700 1em/1.75 'Montserrat', 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.034em;
}
h1 {
	font-size: 24px;
	font-size: 1.5em;
	line-height: 2.25;
}
h2 {
	font-size: 20px;
	font-size: 1.25em;
	line-height: 2;
}
h3 {
	font-size: 18px;
	font-size: 1.125em;
	line-height: 1.75;
}
h4 {
	font-size: 16px;
    font-size: 1em;
}
 h5 {
	 font-size: 16px;
	 font-size: 1em;
	 text-transform: uppercase;
}
ul {
	list-style: disc;
	margin: 1em 0 1em 1.125em;
}
blockquote {
	margin: 2em;
	padding: 0 1em;
}
blockquote p {
	font: 1.6em/1.6 'Montserrat', 'OpenSans', Arial, sans-serif;
}
blockquote p:before {
	content: '“';
	font: 1.5em/1 'Montserrat', 'OpenSans', Arial, sans-serif;
	margin-left: -.6em;
	padding-right: .25em;
}
blockquote p:after {
	content: '”';
	font: 1.5em/1 'Montserrat', 'OpenSans', Arial, sans-serif;
	margin-right: -1em;
	padding-left: .25em;
}
blockquote footer {
	font: 1.25em/1 'Montserrat', 'OpenSans', Arial, sans-serif;
}
blockquote footer:before {
	content: '—';
}
figure, img {
	max-width: 100%;
	height: auto;
}
iframe {
	width: 100%;
}
input {
	font: 1em 'OpenSans', Arial, sans-serif;
	line-height: 2;
	height: 2.3125em;
	border: 1px solid #BFBFBF;
	margin: 0;
	padding: 0.3em 0.625em;
	background: #fff;
	vertical-align: middle;
}
input[type="button"],
input[type="submit"] {
	font: 700 1.125em/3.5 'Montserrat', 'OpenSans', Arial, sans-serif;
	color: #fff;
	background: #45ac9d;
	border: none;
	padding: 0 2em;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}
/* End MAIN STYLES */

/* BODY STYLES */
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
body {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background: #fff;
	border-top: 6px solid #45ac9d;
	color: #3b3b3b;
	font-size: 16px;
	font-size: 1em;
	line-height: 1.65;
	font-family: 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.01em;
}
#page {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}
.page-header {
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 2.5em;
	padding-top: 2.3125em;
	overflow: hidden;
}
.page-header .top-logo {
	color: inherit;
	float: left;
}
.page-header .top-logo .title {
	color: #45ac9d;
	font: 700 1.88em/1.3125 'Montserrat', 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.034em;
	display: block;
	text-transform: uppercase;
}
.page-header .top-logo .sub-title {
	color: inherit;
	display: block;
}
.page-header .top-nav {
	padding-top: 1.375em;
	display: inline-block;
	width: 100%;
}
.page-header .top-nav ul {
	margin: 0;
	background: #eeeeee;
}
.page-header .top-nav ul li a {
	color: inherit;
	font-size: .875em;
	line-height: 2.75;
	margin: 0 1em;
	padding: .25em 0;
	text-transform: uppercase;
}
.page-header .top-nav ul li:hover > a{
	border-bottom: 1px solid #45ac9d;
}
.page-header .top-nav ul ul {
	text-indent: 2em;
	margin-bottom: 1em;
}
#main {
	margin-bottom: 2.3125em;
}
.main-content {
	vertical-align: top;
	padding: 2em 0 0 0;
}
#sidebar {
	display: none;
}

/* media queries */
@media (min-width: 768px) {
	.page-header .top-nav {
		float: right;
		display: block;
		width: auto;
		text-align: center;
	}
	.page-header .top-nav ul li {
		display: block;
		float: left;
	}
	.page-header .top-nav ul li:hover {
		background: #eeeeee;
	}
	.page-header .top-nav ul ul {
		display: block;
		opacity: 0;							/* hide all sub menus from view but allow to ease in and out */
		visibility: hidden;
		position: absolute;
		z-index: 9999;
		-webkit-transition: all 0.5s ease;	/* so it will ease back out */
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		padding: 0.5em 0;
		text-indent: 0;
	}
	.page-header .top-nav ul ul li {
		float: none;
		text-align: left;
	}
	.page-header .top-nav ul li:hover > ul {
		opacity: 1;							/* display sub menus */
		visibility: visible;
		-webkit-transition: all 0.5s ease;	/* so it will ease in */
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		background: #eeeeee;
	}
	#main section {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.main-content {
		flex-grow: 1;
	}
	#sidebar {
		display: block;
		width: 31%;
		min-width: 15em;
		border-left: 1px solid #bfbfbf;
		margin-left: 3em;
	}
}
/* End BODY STYLES */

/* BLOG STYLES */
.post-entry {
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 1.875em;
	margin-bottom: 1.875em;
}
.entry-title {
	margin: 0.25em 0 1em;
	font: 700 1.5em/1.5 'Montserrat', 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.034em;
}
.entry-title a {
	color: inherit;
	text-decoration: none;
}
.entry-title a:hover {
	color: #45ac9d;
}
.entry-time {
	color: #45ac9d;
	font: 600 .82em/1.65 'OpenSans', Arial, sans-serif;
}
.category .page-title {
	font: 700 1.5em/2 'Montserrat', 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.034em;
	margin: 0;
}
.category .page-title span {
	color: #45ac9d;
}
.entry-summary a {
	color: #45ac9d;
	text-decoration: underline;
	font-weight: 600;
}
.entry-summary a:hover {
	text-decoration: none;
}
.wp-caption {
	display: inline;
}
.wp-caption img {
	margin: 1em 0 0;
}
.wp-caption-text {
	text-align: left;
	font-style: italic;
	font-size: .8em;
	color: #a6a6a6;
}
.post-entry .read-more a{
	font-size: 13px;
	font-size: .8em;
	font-family: 'OpenSans', Arial, sans-serif;
	color: #45ac9d;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	margin-top: 1em;
}
.post-entry .read-more span {
	color: #3b3b3b;
}
.post-entry .read-more a:hover {
	border-bottom: 1px solid #45ac9d;
}
.entry-footer .entry-terms {
	color: #a6a6a6;
	font-size: .82em;
}
.entry-footer {
	margin-top: 1.5em;
}
.entry-footer .entry-terms a {
	color: #3b3b3b;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize;
}
.entry-footer .entry-terms a:hover {
	border-bottom: 1px solid #45ac9d;
}
.entry-terms span {
	font-weight: normal;
	color: #a6a6a6;
}
.entry-footer .entry-terms + .entry-terms:before {
	content: '/';
	padding: 0 .625em;
}
.main-content .post-entry:last-child {
	border-bottom: 0;
}
/* End BLOG STYLES */

/* SIDEBAR STYLES */
#sidebar {
	padding-top: 1.25em;
}
#sidebar ul {
	margin: 0;
}
#sidebar li {
	list-style-type: none;
}
#sidebar .widget {
	padding: 1.75em 1.8em 0;
}
#sidebar .widget:last-of-type {
	padding-bottom: 1.75em;
}
#sidebar .widget_text {
	border-bottom: 1px solid #BFBFBF;
	padding: 1.75em 1.8em;
}
#sidebar .widget_text img {
	max-width: 175px;
	margin: auto;
	display: block;
	border-radius: 50%; /* style not defined by the challenge code but an option to match image to site design */
}
#sidebar .widget_text a {
	color: #3b3b3b;
	font-weight: 700;
	text-decoration: underline;
}
#sidebar .widget_search {
	border-bottom: 1px solid #BFBFBF;
	padding: 1.75em 1.8em;
}
#sidebar .widget_search input[type="text"] {
	width: 79%;
	font: .875em/1.75em 'OpenSans', Arial, sans-serif;
	font-style: italic;
	border-top: 1px solid #a6a6a6;
	border-bottom: 1px solid #a6a6a6;
	border-left: 1px solid #a6a6a6;
	border-right: none;
	height: 2.6em;
	padding: .5em;
	vertical-align: middle;
}
#sidebar .widget_search input[type="submit"] {
	width: 13%;
	border-top: 1px solid #a6a6a6;
	border-bottom: 1px solid #a6a6a6;
	border-right: 1px solid #a6a6a6;
	border-left: none;
	font: .875em/1.75em 'Open Sans', Arial, sans-serif;
	height: 2.6em;
	background: url('img/white-arrow-right.png') no-repeat center #45ac9d;
	color: #ffffff;
	margin-left: -5px;
	padding: 0;
	vertical-align: middle;
}
#sidebar .widget_categories h2,
#sidebar .widget_archive h2 {
	font: 700 .875em/1.75 'OpenSans', Arial, sans-serif;
	color: #45ac9d;
	margin: 0 auto 1.25em;
}
#sidebar .widget_categories ul li,
#sidebar .widget_archive ul li {
	font: 600 .875em/1.5 'OpenSans', Arial, sans-serif;
	color: #3b3b3b;
	margin-bottom: 1em;
}
#sidebar .widget_categories ul li a,
#sidebar .widget_archive ul li a {
	color: #3b3b3b;
}
#sidebar .wpp-excerpt {
	font-size: .75em;
	font-weight: normal;
}
#sidebar .wpp-thumbnail {
	width: 15px;
}
/* End SIDEBAR STYLES */

/* NEXT / PREV STYLES */
#navigation {
	background: #fff;
	border: solid #bfbfbf;
	border-width: 1px 0;
	clear: both;
	font: .8em/4.08 'OpenSans', Arial, sans-serif;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-bottom: 5em;
	text-align: center;
}
#navigation .left {
	display: inline;
	float: left;
}
#navigation .right {
	display: inline;
	float: right;
}
#navigation .left a,
#navigation .right a {
	color: #45ac9d;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
}
#navigation .left a span,
#navigation .right a span {
	color: #150300;
}
#navigation .left a span {
	padding-left: .5em;
}
#navigation .right a span {
	padding-right: .5em;
}
#navigation .left a:hover,
#navigation .right a:hover {
	text-decoration: none;
}
#navigation .left a:hover span,
#navigation .right a:hover span {
	text-decoration: underline;
}
#navigation .pagination {
	display: none;
	color: #a6a6a6;
}

/* media queries */
@media (min-width: 400px) {
	#navigation .pagination {
		display: inline;
	}
}
/* End NEXT / PREV STYLES */

/* SINGLE POST STYLES */
.single .post-entry {
	border-bottom: none;
}
.author-name {
	text-transform: capitalize;
}
.comments-area {
	margin-bottom: 5em;
	clear: both;
	overflow: hidden;
}
.comments-area .comments-title {
	border: solid #bfbfbf;
	border-width: 1px 0;
	color: #150300;
	font: 600 .8em/3 'OpenSans', Arial, sans-serif;
	height: 3em;
	text-transform: uppercase;
	margin: 1em 0;
}
.comment-list {
	margin-bottom: 3.125em;
}
.comment-list .comment-head {
	margin: 1.5em 0 .625em;
}
.comment-list .comment {
	font: .8em/2.08 'OpenSans', Arial, sans-serif;
	border-bottom: 1px solid #BFBFBF;
	padding-bottom: 1.5em;
}
.comment-list .comment .comment-meta {
	float: right;
}
.comment-list .comment a {
	color: #45ac9d;
	text-decoration: none;
}
.comment-list .comment a:hover {
	text-decoration: underline;
}
.comment-list .comment .comment-author {
	font-weight: 600;
	text-transform: capitalize;
}
.comments-area .comment-reply-title {
	color: #45ac9d;
	font: 700 1.176em/1.75 'Montserrat', 'OpenSans', Arial, sans-serif;
	text-transform: uppercase;
	margin: 2em 0 1em;
}
.comments-area .comment-reply-title a {
	color: #45ac9d;
}
.comments-area .comment-reply-title a:hover {
	text-decoration: underline;
}
.comments-area .comment-form p {
	font: .8em/2.08 'OpenSans', Arial, sans-serif;
	margin: 0 auto 2em;
}
.comment-form-author {
	width: 48%;
	float: left;
}
.comment-form-email {
	width: 48%;
	float: right;
}
.comment-form-url {
	display: none;
}
.comment-form input {
	width: 100%;
	line-height: 3em;
	text-indent: 1em;
	border: 1px solid #BFBFBF;
}
.comments-area .comment-form p a {
	color: #45ac9d;
}
.comments-area .comment-form p a:hover {
	text-decoration: underline;
}
.comments-area .comment-form label {
	display: block;
	font: 600 1em 'OpenSans', Arial, sans-serif;
	margin: .625em 0;
}
.comments-area .comment-form textarea {
	height: 11.25em;
	width: 100%;
	resize: none;
	font: 1em/1.75 'OpenSans', Arial, sans-serif;
	padding: .5em 1em;
	border: 1px solid #BFBFBF;
}
.comments-area .comment-form input[type="submit"] {
	background: #45ac9d;
	width: 12.875em;
	height: 3.5em;
	font: 700 1.25em/2.5 'Montserrat', 'OpenSans', Arial, sans-serif;
	color: #fff;
	margin: 1.5em 0;
	float: right;
}
/* End SINGLE POST STYLES */

/* PAGE STYLES and CUSTOM TEMPLATE STYLES*/
.page .entry-title {
	font-weight: 500;
	text-align: center;
    border-bottom: 0.07em solid #45ac9d;
    padding-bottom: .5em;
}
.page-template-full-width .page-header {
	border-bottom: none;
}
.page-template-full-width .entry-title {
	font-size: 2.5em;
}
/* End PAGE STYLES */

/* HOMEPAGE STYLES */
.home {
	width: 100%;
	background: url(img/Skillcrush_Computer.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.home .page-header {
	display: none;
}
.home .content {
	max-width: 600px;
	background: #ffffff;
	padding: 3em;
}
.home .main-content {
	display: block;
	width: 100%;
	padding: 4em 0;
}
.home .content h1 {
	font: 700 2.25em/1.5 'Montserrat', 'OpenSans', Arial, sans-serif;
	margin: 0 0 1em;
}
.home .content p {
	font: 1em/2 'OpenSans', Arial, sans-serif;
	margin-bottom: 2em;
}
.home .content p a {
	font-weight: 600;
	text-decoration: underline;
	color: #3b3b3b;
}
.home .content .social-btns {
	margin-bottom: 1.875em;
}
.home .content .social-btns a {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	margin-right: .5em;
}
.home .content .soc-icon.tw {
	background: url(img/twitter-icon.png) no-repeat center 0;
	background-size: cover;
}
.home .content .soc-icon.fb {
	background: url(img/facebook-icon.png) no-repeat center 0;
	background-size: cover;
}
.home .content .soc-icon.ln {
	background: url(img/linkedin-icon.png) no-repeat center 0;
	background-size: cover;
}
.home .content .soc-icon.db {
	background: url(img/dribbble-icon.png) no-repeat center 0;
	background-size: cover;
}
.home .content .soc-icon.gh {
	background: url(img/github-icon.png) no-repeat center 0;
	background-size: cover;
}
.home .content .soc-icon.in {
	background: url(img/instagram-icon.png) no-repeat center 0;
	background-size: cover;
}
.home .btn {
	background: #45ac9d;
	color: #fff;
	font: 700 1.125em/3.5 'Montserrat', 'OpenSans', Arial, sans-serif;
	display: inline-block;
	height: 3.5em;
	width: 100%;
	padding: 0 1.25em;
	text-align: center;
	text-decoration: none;
}

/* media queries */
@media (min-width: 768px) {
	.home .main-content {
		float: right;
	}
	.home .content {
		float: right;
	}
}
/* End HOMEPAGE STYLES */

/* ADDITIONAL STYLES */
#sidebar .widget-title {
	font: 700 .875em/1.75 'OpenSans', Arial, sans-serif;
	color: #45ac9d;
	margin: 0 auto 1.25em;
}
#sidebar .popular-posts ul li {
	font: 600 .875em/1.5 'OpenSans', Arial, sans-serif;
	color: #3b3b3b;
	margin-bottom: 1em;
}
#sidebar .popular-posts ul li a {
	color: #3b3b3b;
}
.author .page-title, .search .page-title {
	font: 700 1.5em/2 'Montserrat', 'OpenSans', Arial, sans-serif;
	letter-spacing: -0.034em;
	margin: 0;
}
.author .page-title span, .search .page-title span {
	color: #45ac9d;
	text-transform: capitalize;
}
.no-sidebar {

}
/* End ADDITIONAL STYLES */
